In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel
import requests

In [4]:
response = requests.get('https://workshala-7v7q.onrender.com/internshipData')
data = response.json() 
df = pd.DataFrame(data)

In [5]:
df.head()

,_id,company,jobProfile,title,state,work,time,salary,type,description,skills
0,65549f3a90068b47b2ff0af2,Amazon,Software Developer Intern,Developing Applications,Andhra Pradesh,Home,20 weeks,6000/week,Internship,Company seeks an intern with experience in sof...,"[Java, .net, Problem Solving, SQL]"
1,6554a00290068b47b2ff0af3,Google,IT Intern,Support the IT team in maintaining software.,Telangana,Home,12 weeks,5000/week,Internship,Engineering company known for innovative techn...,"[Pyhton, HTML, Javascript, MS Office]"
2,6554a00990068b47b2ff0af4,Microsoft,Software Engineering Intern,Document and test new software applications,Telangana,Home,24 weeks,6000/week,Internship,We frequently work in small teams to solve pro...,"[Java, OOPS, DSA, Database Management]"
3,6554a01090068b47b2ff0af5,Walmart,Marketing Intern,Perform analysis of marketing and sales data,Haryana,Home,12 weeks,4000/week,Internship,Company is looking for a qualified intern to j...,"[Communication, Social Media Marketing, Analyt..."
4,6554a01890068b47b2ff0af6,Flipkart,HR Intern,Collect and update our database with new hire ...,Tamil Nadu,Home,16 weeks,5000/week,Internship,Fast-growing marketing agency seeks a personab...,"[Data Analysis, Project Management, LMS, Commu..."

In [7]:
df_copy1=df
df_copy1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          16 non-null     object
 1   company      16 non-null     object
 2   jobProfile   16 non-null     object
 3   title        16 non-null     object
 4   state        16 non-null     object
 5   work         16 non-null     object
 6   time         16 non-null     object
 7   salary       16 non-null     object
 8   type         16 non-null     object
 9   description  16 non-null     object
 10  skills       16 non-null     object
dtypes: object(11)
memory usage: 1.5+ KB

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer


df_copy1['description_new'] = df_copy1['description'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)


vectorizer = TfidfVectorizer()
matrix = vectorizer.fit_transform(df_copy1['description_new'])

In [10]:
cosine_sim = cosine_similarity(matrix , matrix)

In [13]:
def get_guide(cases):
    selected_description = ', '.join(cases)
    

    user_vector = vectorizer.transform([selected_description])
  
    cosine_sim_with_selected_description = cosine_similarity(user_vector, matrix)
   

    sim_scores = list(enumerate(cosine_sim_with_selected_description[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    indices = [score[0] for score in sim_scores[:5]]
    recommendations = []
    for i in indices:
       recommendations.append({"steps" : df['description'].iloc[i] })
    
    return recommendations

In [14]:
user_selected_description = ["AWS"]
recommendations_for_user_description = get_guide(user_selected_description)
print(recommendations_for_user_description ,end="\n")

[{'steps': 'Company seeks an intern with experience in software design, coding and debugging. The intern will gain exciting real-world software engineering experience at a thriving company.'}, {'steps': 'Engineering company known for innovative technology seeks a self-directed IT intern with a passion for technology, collaboration, and creative problem-solving. The intern will actively contribute to meaningful projects and work closely with a mentor and with senior leadership.'}, {'steps': 'We frequently work in small teams to solve problems, explore new technologies, and learn from one another. The ideal intern for this environment will be enthusiastic and collaborative.'}, {'steps': 'Company is looking for a qualified intern to join our marketing/advertising team. Our marketing department produces quality work for major companies in the Boston area and seeks an intern who can participate in various stages of print and online marketing campaigns.'}, {'steps': 'Fast-growing marketing agency seeks a personable and highly motivated HR intern to support the HR manager in day-to-day administrative tasks and activities.'}]